//web_production
doctype html
html(lang="en", ng-controller="RootCtrl as root")
    head
        base(href="/")

        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="description" content="")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        title {{root.title}}

        link(rel="stylesheet" href="_lib/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet" href="_css/app.css")
    body(ng-cloak='')
        nav.navbar.navbar-light.bg-info
            a.navbar-brand(href="/") {{root.title}}

        .container
            .row
                .col-xs-12.col-sm-6
                    form(ng-submit="root._todos.addTodo(root.newTodo)")
                        .form-group
                            label(for="project") project
                            select#project(ng-model="root.newTodo.project")
                                option(ng-repeat="(k,v) in root._todos.ENUMS.projects track by $index" value="{{v}}", selected="$first") {{k}}
                        .form-group
                            label(for="type") type
                            select#type(ng-model="root.newTodo.type")
                                option(ng-repeat="(k,v) in root._todos.ENUMS.types track by $index" value="{{v}}", selected="$first") {{k}}
                        .form-group
                            label(for="priority") priority
                            select#priority(ng-model="root.newTodo.priority")
                                option(ng-repeat="(k,v) in root._todos.ENUMS.priorities track by $index" value="{{v}}", selected="$first") {{k}}
                        .form-group
                            label(for="todo") todo
                            input#todo(ng-model="root.newTodo.todo")
                        button.btn.btn-primary.col-xs-12(type="submit") Add

                .col-xs-12.col-sm-6
                    ul.list-group
                        li.list-group-item
                            span.label.label-pill.label-info Todos: {{root._todos.todos.count}}
                        li.list-group-item(ng-repeat="item in root._todos.todos.list track by $index", ng-class="{'bg-danger':item.priority=='HIGH','bg-success':item.priority=='LOW'}")
                            | {{item.project}} - {{item.priority}} - {{item.type}} - {{item.todo}}
                            span.label.label-pill.label-default.needs-cursor.pull-xs-right(ng-click="root._todos.deleteTodo(item.id)") delete


        script(src="_lib/angular/angular.min.js")
        script(src="_lib/jquery/dist/jquery.min.js")
        script(src="_lib/tether/dist/js/tether.min.js")
        script(src="_lib/bootstrap/dist/js/bootstrap.min.js")
        script(src="_dist/app.min.js")
        script.
            angular.bootstrap(document, ['todos'], {strictDi: true});