.input-error {
    background: #f00;
    color: #fff;
    font-weight: bold;
}

.input-success {
    background: #0c0;
    font-weight: bold;
    color: #fff;
}

[ng-cloak] {
    display: none !important;
}

.todo-high-priority {
    background: #ff0000;
}

.todo-medium-priority {
    background: #fafa00;
}

.todo-low-priority {
    background: #00fa00;
}

.needs-cursor {
    cursor: pointer;
}